/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

p, li{
    margin: 0;
    line-height: 2;
}

.home2{
    display: flex;
    background: url("iStock-944880340.jpg") no-repeat center;
    height: 30vh;
    color: #fff;
    min-height: 50px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.cookie-container{
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2ox 16px rgba(47,54,64,0.39);
    transition: 400ms;
    height: 15vh;
}

.cookie-container p{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 18px;
}
.cookie-container.active{
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}

.Ubuntu{
    font-family: "Ubuntu", sans-serif;
}

li{
    padding-left: 65px;
}

.underline{
    text-decoration: underline;
}

.second-list{
    padding-left: 100px;
}
.cookie-btn{
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}